<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/layout :: head"/>
<body class="header-fixed">
<!-- partial:../../partials/_header.html -->
<nav class="t-header" th:replace="fragments/navbar::navbar"></nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div class="sidebar" th:replace="fragments/sidebar::sidebar"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Liste des Congés Importés</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <div class="item-wrapper">
                                <div class="table-responsive " style="height: 500px;">
                                    <table id="myTable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Matricule</th>
                                            <th>Nom et Prénom</th>
                                            <th>Date Début</th>
                                            <th>Date Fin</th>
                                            <th>Chantier</th>
                                            <th>Motif</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${congeValid.isEmpty()}">
                                            <td class="text-lg-center" colspan="7"><strong
                                                    th:text="${'Aucun Congé Importé'}"></strong></td>
                                        </tr>
                                        <tr th:each="conge : ${congeValid}">

                                            <td th:text="${conge.individu.individu}"></td>

                                            <td>
                                                <a class="btn btn-secondary" type="button" data-toggle="modal"
                                                   data-target="#modal-lg1"
                                                   th:attrappend="data-target=${conge.id}"
                                                   th:text="${conge.individu.nom+' '+conge.individu.prenom}">
                                                </a>
                                                <div class="modal fade" id="modal-lg1" tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalLongTitle1"
                                                     aria-hidden="true" th:attrappend="id=${conge.id}">

                                                    <div class="modal-dialog modal-lg modal-dialog-centered"
                                                         role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle1">
                                                                    Consultation de la demande</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Fermer">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <section class="content">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <!-- About Me Box -->
                                                                                <div class="card card-primary">

                                                                                    <p>Veuillez
                                                                                        <strong>Télécharger</strong> la
                                                                                        demande du congé avec les
                                                                                        informations suivantes :
                                                                                    </p>
                                                                                    <hr>
                                                                                    <li><label>Demandeur
                                                                                        : </label><strong
                                                                                            th:text="${' '+conge.individu.nom+' '+conge.individu.prenom}"></strong>
                                                                                    </li>
                                                                                    <li><label>Chantier
                                                                                        : </label><strong
                                                                                            th:text="${' '+conge.affaire.designation.trim()}"></strong>
                                                                                    </li>
                                                                                    <li>
                                                                                        <label>Du : </label><strong
                                                                                            th:text="${' '+#dates.format(conge.dateDebut,'dd-MM-yyyy')}"></strong>
                                                                                        <label>Jusqu'à : </label><strong
                                                                                            th:text="${' '+#dates.format(conge.dateFin,'dd-MM-yyyy')}"></strong>
                                                                                    </li>
                                                                                    <hr>
                                                                                    <div class="col-md-6 showcase_content_area" sec:authorize="hasAnyAuthority('RH','admin','Pointeur')">
                                                                                        <a type="submit"
                                                                                           th:href="@{/Conge/fichier/{id}(id=${conge.id})}"
                                                                                           target="_blank">Cliquer ici
                                                                                            pour télécharger la
                                                                                            demande</a>
                                                                                    </div>

                                                                                </div>
                                                                                <!-- /.card-body -->
                                                                            </div>
                                                                            <!-- /.card -->
                                                                        </div>
                                                                        <!-- /.col -->
                                                                    </div>
                                                                    <!-- /.row -->

                                                                </section>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Fermer
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:text="${#dates.format(conge.dateDebut,'dd-MM-yyyy')}">
                                            <td th:text="${#dates.format(conge.dateFin,'dd-MM-yyyy')}">
                                            </td>

                                            <td th:text="${conge.affaire.designation}"></td>
                                            <td th:text="${conge.motif}"></td>
                                            <td>
                                                <div class="dropdown show">
                                                    <a class="btn btn-xs btn-dark dropdown-toggle"
                                                       href="#"
                                                       role="button"
                                                       th:id="${'dropdownMenuLink'+conge.id}"
                                                       data-toggle="dropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        Action
                                                    </a>

                                                    <div class="dropdown-menu"
                                                         aria-labelledby="dropdownMenuLink">
                                                        <a type="button" class="dropdown-item"
                                                           data-target="#ValidModal" data-toggle="modal"
                                                           th:attrappend="data-target=${conge.id}"
                                                           th:hidden="${login.roles.contains(pointeur)}">Valider</a>
                                                        <a type="button" class="dropdown-item"
                                                           data-target="#RefusModal" data-toggle="modal"
                                                           th:attrappend="data-target=${conge.id}"
                                                           th:hidden="${login.roles.contains(pointeur)}">Refuser</a>
                                                    </div>

                                                    <div class="modal fade" id="ValidModal"
                                                         tabindex="-1"
                                                         th:attrappend="id=${conge.id}"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalCenterTitle6"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg"
                                                             role="document">
                                                            <div class="modal-content">
                                                                <form th:action="@{/Conge/Validation/{id}(id=${conge.id})}"
                                                                      method="post">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="exampleModalCenterTitle6">
                                                                            Validation de la demande
                                                                        </h5>
                                                                        <button type="button"
                                                                                class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="grid">
                                                                            <div class="grid-body">
                                                                                <p>Valider la demande :
                                                                                    <strong th:text="${conge.motif}"></strong>
                                                                                    <br>
                                                                                <hr>
                                                                                avec les informations suivantes :
                                                                                <br><br>

                                                                                <li><label>Demandeur : </label><strong
                                                                                        th:text="${' '+conge.individu.nom+' '+conge.individu.prenom}"></strong>
                                                                                </li>
                                                                                <li><label>Chantier : </label><strong
                                                                                        th:text="${' '+conge.affaire.designation.trim()}"></strong>
                                                                                </li>
                                                                                <li>
                                                                                    <label>Du : </label><strong
                                                                                        th:text="${' '+#dates.format(conge.dateDebut,'dd-MM-yyyy')}"></strong>
                                                                                    <label>Jusqu'à : </label><strong
                                                                                        th:text="${' '+#dates.format(conge.dateFin,'dd-MM-yyyy')}"></strong>
                                                                                </li>
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Fermer
                                                                        </button>
                                                                        <input type="submit"
                                                                               class="btn btn-success"
                                                                               value="Valider"/>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="modal fade" id="RefusModal"
                                                         tabindex="-1"
                                                         th:attrappend="id=${conge.id}"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalCenterTitle7"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg"
                                                             role="document">
                                                            <div class="modal-content">
                                                                <form th:action="@{/Conge/Refus/{id}(id=${conge.id})}"
                                                                      method="post">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="exampleModalCenterTitle7">
                                                                            Refus
                                                                            de la demande
                                                                        </h5>
                                                                        <button type="button"
                                                                                class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="grid">
                                                                            <div class="grid-body">
                                                                                <p>Refuser la demande :
                                                                                    <strong th:text="${conge.motif}"></strong>
                                                                                    <br>
                                                                                <hr>
                                                                                avec les informations suivantes :
                                                                                <br><br>

                                                                                <li><label>Demandeur : </label><strong
                                                                                        th:text="${' '+conge.individu.nom+' '+conge.individu.prenom}"></strong>
                                                                                </li>
                                                                                <li><label>Chantier : </label><strong
                                                                                        th:text="${' '+conge.affaire.designation.trim()}"></strong>
                                                                                </li>
                                                                                <li>
                                                                                    <label>Du : </label><strong
                                                                                        th:text="${' '+#dates.format(conge.dateDebut,'dd-MM-yyyy')}"></strong>
                                                                                    <label>Jusqu'à : </label><strong
                                                                                        th:text="${' '+#dates.format(conge.dateFin,'dd-MM-yyyy')}"></strong>
                                                                                </li>
                                                                                </p>
                                                                            </div>

                                                                            <div class="row showcase_row_area">
                                                                                <div class="col-md-3 showcase_text_area">
                                                                                    <label>Commentaire
                                                                                        :</label>
                                                                                </div>
                                                                                <div class="col-md-6 showcase_content_area">
                                                                                            <textarea
                                                                                                    class="form-control"
                                                                                                    name="motifRefus"
                                                                                                    required></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Fermer
                                                                        </button>
                                                                        <input type="submit"
                                                                               class="btn btn-danger"
                                                                               value="Refuser"/>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </td>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="fc-footer-toolbar">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:if="${congeValid.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not congeValid.isFirst()}"
                                           th:href="@{/Conge/Importe(size=${congeValid.size}, page=${(congeValid.totalPages - congeValid.totalPages) + 1})}"
                                           class="page-link" title="Première">&laquo;</a>
                                        <a th:if="${congeValid.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Première">&laquo;</a>
                                    </li>
                                    <li th:if="${congeValid.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not congeValid.isFirst()}"
                                           th:href="@{/Conge/Importe(size=${congeValid.size}, page=${congeValid.number})}"
                                           class="page-link" title="Précédente">&#8249;</a>
                                        <a th:if="${congeValid.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Précédente">&#8249;</a>
                                    </li>
                                    <li th:if="${congeValid.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"
                                        class="page-item"
                                        th:classappend="${pageNumber eq congeValid.number + 1} ? active">
                                        <a th:href="@{/Conge/Importe(size=${congeValid.size}, page=${pageNumber})}"
                                           th:text="${pageNumber}"
                                           class="page-link"></a>
                                    </li>
                                    <li th:if="${congeValid.number + 1 ge congeValid.totalPages} ? 'disabled' : '' "
                                        class="page-item">
                                        <a th:if="${not congeValid.isLast()}"
                                           th:href="@{/Conge/Importe(size=${congeValid.size}, page=${congeValid.number + 2})}"
                                           class="page-link" title="Suivante">&#8250;</a>
                                        <a th:if="${congeValid.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Suivante">&#8250;</a>
                                    </li>
                                    <li th:if="${congeValid.number + 1 eq congeValid.totalPages} ? 'disabled' : '' "
                                        class="page-item">
                                        <a th:if="${not congeValid.isLast()}"
                                           th:href="@{/Conge/Importe(size=${congeValid.size}, page=${congeValid.totalPages})}"
                                           class="page-link" title="Dernière">&raquo;</a>
                                        <a th:if="${congeValid.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link" title="Dernière">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<script type="text/javascript">

    // function myFunction() {
    //     var input, filter, table, tr, td, i, txtValue;
    //     input = document.getElementById("myInput");
    //     filter = input.value.toUpperCase();
    //     table = document.getElementById("myTable");
    //     tr = table.getElementsByTagName("tr");
    //     for (i = 0; i < tr.length; i++) {
    //         td = tr[i].getElementsByTagName("td")[1];
    //         if (td) {
    //             txtValue = td.textContent || td.innerText;
    //             if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //                 tr[i].style.display = "";
    //             } else {
    //                 tr[i].style.display = "none";
    //             }
    //         }
    //     }
    // }
</script>
</body>
</html>