<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"

>
  <head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portail-RH</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.7/css/all.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.addons.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css}" rel="stylesheet" />
    <script th:src="@{https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js}"></script>
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/shared/style.css}">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}">

    <!-- Layout style -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <script th:src="@{/vendors/js/core.js}"></script>
    <script th:src="@{/vendors/js/vendor.addons.js}"></script>

    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script th:src="@{/js/template.js}"></script>
    <!-- endbuild -->

  </head>
  <body>

  </body>
</html>