<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/layout :: head"/>
<body class="header-fixed">
<!-- partial:../../partials/_header.html -->
<nav class="t-header" th:replace="fragments/navbar::navbar"></nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div class="sidebar" th:replace="fragments/sidebar::sidebar"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Liste des personnes à valider</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-header">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="myInput" id="myInput" onkeyup="myFunctionSearch()"
                                       class="form-control float-right" placeholder="Rechercher">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Date naissance/d'embauch</th>
                                            <th>Fonction</th>
                                            <th>CIN</th>
                                            <th>Chantier</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${personnes.isEmpty()}" >
                                            <td class="text-lg-center" colspan="7"><strong th:text="${'Aucun employé à Valider'}"></strong></td>
                                        </tr>
                                        <tr th:each="person : ${personnes}">
                                            <td>
                                                <a class="btn btn-secondary" type="button" data-toggle="modal"
                                                   data-target="#modal-lg1"
                                                   th:attrappend="data-target=${person.id}" th:text="${person.nom}">
                                                </a>
                                            </td>
                                            <td th:text="${person.prenom}"></td>
                                            <td >
                                                   <li th:text="${#dates.format(person.datenaissance,'dd-MM-yyyy')+' / '+ #dates.format(person.dateentree,'dd-MM-yyyy')}"> </li>
                                            </td>

                                            <td th:text="${person.libelle}"></td>
                                            <td th:text="${person.codecin}"></td>
                                            <td th:text="${person.codechantier}"></td>
                                            <td>
                                                <a class="btn-sm btn-success" type="submit" th:href="@{/Personnes/Editer/{id}(id=${person.id})}" title="modifier">
                                                    <i class="fas fa-pen-square"></i>
                                                </a>



                                                <a type="button" class="btn-sm btn-danger" title="supprimer"
                                                        data-target="#modal-danger" data-toggle="modal" th:attrappend="data-target=${person.id}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>

                                                <div class="modal fade" id="modal-danger" th:attrappend="id=${person.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content bg-danger">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Confirmation de la suppression</h4>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Êtes vous sùre de vouloir supprimer ?</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-between">
                                                                <button type="button" class="btn btn-outline-light"
                                                                        data-dismiss="modal">Fermer
                                                                </button>
                                                                <form th:action="@{/Personnes/Supprimer/{id}(id=${person.id})}" method="GET">
                                                                    <input type="submit" class="btn btn-outline-light" value="Confirmer"/>

                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <!-- /.modal -->


                                                <a  sec:authorize="hasAnyAuthority('RH','admin')" type="button" class="btn-sm btn-primary" data-toggle="modal"
                                                       data-target="#modal-lg"
                                                        th:attrappend="data-target=${person.id}" title="Valider"><i class="fas fa-check"></i>
                                                </a>

                                                <div class="modal fade" tabindex="-1" id="modal-lg"
                                                     role="dialog" aria-labelledby="exampleModalLongTitle"
                                                     aria-hidden="true" th:attrappend="id=${person.id}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">
                                                                    Confirmation de validation</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Fermer">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button class="btn-sm btn-danger float-md-right" onclick="myFunction()">Rejeter</button>
                                                            </div>
                                                            <hr>
                                                            <div class="col-md-11">
                                                                <form th:action="@{/Ajout/Personnes/Rejeter/{id}(id=${person.id})}" method="post" id="myDIVRejet" style="display: none;">

                                                                        <div class="form-group row showcase_row_area">
                                                                            <div class="col-md-3 showcase_text_area" id="RejetLabel" style="display: none;">
                                                                                <label>Motif du Rejet :</label>
                                                                            </div>
                                                                            <div class="col-md-9 showcase_content_area" id="RejetText" style="display: none;">
                                                                                <input type="text" class="form-control" name="motifRejet"
                                                                                       placeholder="Saisir le motif de rejet" required>
                                                                            </div>
                                                                        </div>

                                                                            <input type="submit" class="btn-sm btn-warning float-md-right" value="Rejeter">


                                                                </form>
                                                            </div>
                                                            <form th:action="@{/Ajout/Personnes/valider/{id}(id=${person.id})}"
                                                                  method="post">
                                                                <div class="modal-body">
                                                                    <section class="content">
                                                                        <div class="container-fluid">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <!-- About Me Box -->
                                                                                    <div class="card card-primary">
                                                                                        <!-- /.card-header -->
                                                                                        <div class="card-body">
                                                                                                    <p>Voulez vous Valider
                                                                                                        cet employé avec les informations :
                                                                                                    </p>

                                                                                                    <hr>
                                                                                        </div>

                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Nom Complet
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li th:switch="${person.sexe}">
                                                                                                    <strong th:case="'1'" th:text="${'Mr. '+person.nom+' '+person.prenom}"></strong>
                                                                                                    <strong th:case="'2'" th:text="${'Mme. '+person.nom+' '+person.prenom}"></strong>
                                                                                                </li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Adresse
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.adresseville+' '+person.adresserue}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Numéro de Tél
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.numtele}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>né(e) le/entré(e)
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${#dates.format(person.datenaissance,'dd-MM-yyyy')+'  /  '+#dates.format(person.dateentree,'dd-MM-yyyy')}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>CIN
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.codecin}"></strong></li>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group row showcase_row_area" >
                                                                                            <div class="col-md-3 showcase_text_area" th:styleappend="${person.cnss == ''} ? 'display:none' : 'display:block'">
                                                                                                <label>CNSS
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area" th:styleappend="${person.cnss == ''} ? 'display:none' : 'display:block'">
                                                                                                <li ><strong th:text="${person.cnss}" ></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Chantier
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${#strings.trim(person.designation)}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Situation familiale
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li th:switch="${person.sitfamiliale}">
                                                                                                    <strong th:case="'1'">Célibataire</strong>
                                                                                                    <strong th:case="'2'">[[${'Marié avec '+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                                    <strong th:case="'3'">[[${'Divorcé avec'+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                                    <strong th:case="'4'">[[${'Veuf avec '+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                                </li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Informations bancaires
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.banque+' '+person.domiciliation}"></strong></li>
                                                                                                <li><strong th:text="${person.rib}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Profile
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li th:switch="${person.profile}">
                                                                                                    <strong th:case="'1'">Mensuel</strong>
                                                                                                    <strong th:case="'2'">Horaire</strong>

                                                                                                </li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Période d'essai
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.pessai+' Jours'}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Fonction
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <li><strong th:text="${person.libelle}"></strong></li>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Salaire
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">
                                                                                                <input type="text"
                                                                                                       name="salaire"
                                                                                                       class="form-control"
                                                                                                       placeholder="Entrer le salaire">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row showcase_row_area">
                                                                                            <div class="col-md-3 showcase_text_area">
                                                                                                <label>Fichiers
                                                                                                    :</label>
                                                                                            </div>
                                                                                            <div class="col-md-9 showcase_content_area">

                                                                                                   <a th:href="@{/Ajout/Personnes/Fichiers/{id}(id=${person.id})}" target="_blank">
                                                                                                       <strong th:text="${'Cliquer ici pour consuler les fichiers de :'+person.nom.toUpperCase()+' '+person.prenom.toUpperCase()}"></strong>
                                                                                                   </a>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /.card-body -->
                                                                                </div>
                                                                                <!-- /.card -->
                                                                            </div>
                                                                            <!-- /.col -->
                                                                        </div>
                                                                        <!-- /.row -->

                                                                    </section>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Fermer
                                                                    </button>

                                                                    <input type="submit" value="Valider"
                                                                           class="btn btn-success"/>

                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" tabindex="-1" id="modal-lg1"
                                                     role="dialog" aria-labelledby="exampleModalLongTitle"
                                                     aria-hidden="true" th:attrappend="id=${person.id}">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle1">
                                                                    Consultation d'employé : <strong th:text="${person.nom+' '+person.prenom}"></strong></h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Fermer">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>


                                                            <div class="modal-body">
                                                                <section class="content">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <!-- About Me Box -->
                                                                                <div class="card card-primary">
                                                                                    <!-- /.card-header -->
                                                                                    <div class="card-body">

                                                                                    </div>

                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Nom Complet
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li th:switch="${person.sexe}">
                                                                                                <strong th:case="'1'" th:text="${'Mr. '+person.nom+' '+person.prenom}"></strong>
                                                                                                <strong th:case="'2'" th:text="${'Mme. '+person.nom+' '+person.prenom}"></strong>
                                                                                            </li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Adresse
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.adresseville+' '+person.adresserue}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Numéro de Tél
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.numtele}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>né(e) le/entré(e)
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${#dates.format(person.datenaissance,'dd-MM-yyyy')+'  /  '+#dates.format(person.dateentree,'dd-MM-yyyy')}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>CIN
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.codecin}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area" th:styleappend="${person.cnss == ''} ? 'display:none' : 'display:block'">
                                                                                            <label>CNSS
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area" th:styleappend="${person.cnss == ''} ? 'display:none' : 'display:block'">
                                                                                            <li><strong th:text="${person.cnss}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Chantier
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${#strings.trim(person.designation)}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Situation familiale
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li th:switch="${person.sitfamiliale}">
                                                                                                <strong th:case="'1'">Célibataire</strong>
                                                                                                <strong th:case="'2'">[[${'Marié avec '+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                                <strong th:case="'3'">[[${'Divorcé avec'+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                                <strong th:case="'4'">[[${'Veuf avec '+person.pcharge+' personne(s) à charge'}]]</strong>
                                                                                            </li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Informations bancaires
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.banque+' '+person.domiciliation}"></strong></li>
                                                                                            <li><strong th:text="${person.rib}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Profile
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li th:switch="${person.profile}">
                                                                                                <strong th:case="'1'">Mensuel</strong>
                                                                                                <strong th:case="'2'">Horaire</strong>

                                                                                            </li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Période d'essai
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.pessai+' Jours'}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Fonction
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">
                                                                                            <li><strong th:text="${person.libelle}"></strong></li>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row showcase_row_area">
                                                                                        <div class="col-md-3 showcase_text_area">
                                                                                            <label>Fichiers
                                                                                                :</label>
                                                                                        </div>
                                                                                        <div class="col-md-9 showcase_content_area">

                                                                                            <a th:href="@{/Ajout/Personnes/Fichiers/{id}(id=${person.id})}" target="_blank">
                                                                                                <strong th:text="${'Cliquer ici pour consuler les fichiers de :'+person.nom.toUpperCase()+' '+person.prenom.toUpperCase()}"></strong>
                                                                                            </a>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- /.card-body -->
                                                                            </div>
                                                                            <!-- /.card -->
                                                                        </div>
                                                                        <!-- /.col -->
                                                                    </div>
                                                                    <!-- /.row -->

                                                                </section>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Fermer
                                                                </button>



                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="fc-footer-toolbar">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:if="${personnes.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not personnes.isFirst()}"
                                           th:href="@{/Personne/ListePersonnesAvalider(size=${personnes.size}, page=${(personnes.totalPages - personnes.totalPages) + 1})}"
                                           class="page-link" title="Première">&laquo;</a>
                                        <a th:if="${personnes.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Première">&laquo;</a>
                                    </li>
                                    <li th:if="${personnes.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not personnes.isFirst()}"
                                           th:href="@{/Personne/ListePersonnesAvalider(size=${personnes.size}, page=${personnes.number})}"
                                           class="page-link" title="Précédente">&#8249;</a>
                                        <a th:if="${personnes.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Précédente">&#8249;</a>
                                    </li>
                                    <li th:if="${personnes.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"  class="page-item" th:classappend="${pageNumber eq personnes.number + 1} ? active">
                                        <a th:href="@{/Personne/ListePersonnesAvalider(size=${personnes.size}, page=${pageNumber})}"
                                           th:text="${pageNumber}"
                                           class="page-link"></a>
                                    </li>
                                    <li th:if="${personnes.number + 1 ge personnes.totalPages} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not personnes.isLast()}"
                                           th:href="@{/Personne/ListePersonnesAvalider(size=${personnes.size}, page=${personnes.number + 2})}"
                                           class="page-link" title="Suivante">&#8250;</a>
                                        <a th:if="${personnes.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Suivante">&#8250;</a>
                                    </li>
                                    <li th:if="${personnes.number + 1 eq personnes.totalPages} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not personnes.isLast()}"
                                           th:href="@{/Personne/ListePersonnesAvalider(size=${personnes.size}, page=${personnes.totalPages})}"
                                           class="page-link" title="Dernière">&raquo;</a>
                                        <a th:if="${personnes.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link" title="Dernière">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<script type="text/javascript">

    function myFunctionSearch() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    function checkbox() {
        var oui = document.getElementById("oui");
        var non = document.getElementById("non");
        var container = document.getElementById("container");
        var container1 = document.getElementById("container1");
        var container2 = document.getElementById("container2");
        var container3 = document.getElementById("container3");
        var container4 = document.getElementById("container4");
        var container5 = document.getElementById("container5");

        if (oui.checked) {
            container.style.display = "block";
            container1.style.display = "block";
            container2.style.display = "block";
            container3.style.display = "block";
            container4.style.display = "block";
            container5.style.display = "block";

        } else if (non.checked) {
            container.style.display = "none";
            container1.style.display = "none";
            container2.style.display = "none";
            container3.style.display = "none";
            container4.style.display = "none";
            container5.style.display = "none";

        }
    }

    function myFunction() {
        var x = document.getElementById("myDIVRejet");
        var y = document.getElementById("RejetLabel");
        var z = document.getElementById("RejetText");
        if (x.style.display === "none" && y.style.display === "none" && z.style.display === "none") {
            x.style.display = "block";
            y.style.display = "block";
            z.style.display = "block";
        } else if (x.style.display === "block" && y.style.display === "block" && z.style.display === "block") {
            x.style.display = "none";
            y.style.display = "none";
            z.style.display = "none";
        }
    }
</script>
</body>
</html>