<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/layout :: head"/>
<body class="header-fixed">
<!-- partial:../../partials/_header.html -->
<nav class="t-header" th:replace="fragments/navbar::navbar"></nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:../../partials/_sidebar.html -->
    <div class="sidebar" th:replace="fragments/sidebar::sidebar"></div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">Liste des STC Approuvés</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid-header">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="myInput" id="myInput" onkeyup="myFunction()"
                                       class="form-control float-right" placeholder="Rechercher">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Matricule</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>CIN</th>
                                            <th>Date Départ</th>
                                            <th>Chantier</th>
                                            <th>Evaluation</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${STCdemande.isEmpty()}" >
                                            <td  class="text-lg-center" colspan="8"><strong th:text="${'Aucun STC Approuvé'}"></strong></td>
                                        </tr>
                                        <tr th:each="stc : ${STCdemande}" th:style="${stc.listNoir==true} ? 'background-color: #FF3232;'+ ' ' + 'color:white;' : 'background-color: #fff;'+ ' ' + 'color:black;'">
                                            <td th:text="${stc.individu.individu}"></td>
                                            <td th:text="${stc.individu.nom}"></td>
                                            <td th:text="${stc.individu.prenom}"></td>
                                            <td th:text="${stc.individu.codecin}"></td>
                                            <td th:text="${#dates.format(stc.datedepart,'dd-MM-yyyy')}">
                                            </td>

                                            <td th:text="${stc.affaire.designation}"></td>
                                            <td th:text="${stc.evalu}"></td>
                                            <td>


                                            </td>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="fc-footer-toolbar">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:if="${STCdemande.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not STCdemande.isFirst()}"
                                           th:href="@{/STC/Approuves(size=${STCdemande.size}, page=${(STCdemande.totalPages - STCdemande.totalPages) + 1})}"
                                           class="page-link" title="Première">&laquo;</a>
                                        <a th:if="${STCdemande.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Première">&laquo;</a>
                                    </li>
                                    <li th:if="${STCdemande.number eq 0} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not STCdemande.isFirst()}"
                                           th:href="@{/STC/Approuves(size=${STCdemande.size}, page=${STCdemande.number})}"
                                           class="page-link" title="Précédente">&#8249;</a>
                                        <a th:if="${STCdemande.isFirst()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Précédente">&#8249;</a>
                                    </li>
                                    <li th:if="${STCdemande.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"  class="page-item" th:classappend="${pageNumber eq STCdemande.number + 1} ? active">
                                        <a th:href="@{/STC/Approuves(size=${STCdemande.size}, page=${pageNumber})}"
                                           th:text="${pageNumber}"
                                           class="page-link"></a>
                                    </li>
                                    <li th:if="${STCdemande.number + 1 ge STCdemande.totalPages} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not STCdemande.isLast()}"
                                           th:href="@{/STC/Approuves(size=${STCdemande.size}, page=${STCdemande.number + 2})}"
                                           class="page-link" title="Suivante">&#8250;</a>
                                        <a th:if="${STCdemande.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link btn-primary" title="Suivante">&#8250;</a>
                                    </li>
                                    <li th:if="${STCdemande.number + 1 eq STCdemande.totalPages} ? 'disabled' : '' " class="page-item">
                                        <a th:if="${not STCdemande.isLast()}"
                                           th:href="@{/STC/Approuves(size=${STCdemande.size}, page=${STCdemande.totalPages})}"
                                           class="page-link" title="Dernière">&raquo;</a>
                                        <a th:if="${STCdemande.isLast()}"
                                           href="javascript:void(0)"
                                           class="page-link" title="Dernière">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<script type="text/javascript">

    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>